<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="~{layouts/head :: head}"></head>
<body>
<header th:insert="~{layouts/header :: header}"></header>
<div class="container">
    <form th:action="@{/pelicula}" th:object="${pelicula}" method="post" class="col-md-8 offset-md-2">
        <h2 th:text="${titulo}" class="py-4"></h2>
        <div class="row mb-3">
            <label for="input-nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input-nombre" th:field="*{nombre}">
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="input-fecha-estreno" class="col-sm-2 col-form-label">Fecha Estreno</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="input-fecha-estreno" th:field="*{fechaEstreno}">
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('fechaEstreno')}" th:errors="*{fechaEstreno}"> </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="select-genero" class="col-sm-2 col-form-label">Género</label>
            <div class="col-sm-10">
                <select class="form-select" id="select-genero" th:field="*{genero}">
                    <option th:each="genero:${generos}" th:text="${genero.nombre}" th:value="${genero.id}">

                    </option>
                </select>
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"> </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="select-actores" class="col-sm-2 col-form-label">Actores</label>
            <div class="col-sm-10">
                <select
                        class="form-select"
                        id="select-actores"
                        th:field="*{protagonistas}"
                        onchange="actorSelected(this)"
                >
                    <option th:text="'Seleccionar actor'" th:value="0"></option>
                    <option
                            th:each="actor:${actores}"
                            th:text="${actor.nombre}"
                            th:value="${actor.id}"
                            th:data-url="${actor.urlImagen}"
                    >

                    </option>
                </select>
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('protagonistas')}" th:errors="*{protagonistas}"> </div>
            </div>
        </div>
        <input type="hidden" name="ids" id="ids">
        <div id="protagonistas-container" class="row" >

        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<script src="/js/app.js"></script>
</body>
</html>